body {
    font-family: Circe;
    background: #f1f2f3;
    overflow-x: hidden;
}

* {
    outline: none;
}

a {
    text-decoration: none;
}

.nav_logo {
    text-align: center;
    margin-top: 11px;
}

.navbar {
    background: white;
}

.nav-item {
    padding-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.nav-item img {
    margin-right: 17px;
}

.navigation_burger_button {
    border: 0;
    margin-top: 5px !important;
}

.self_data_block {
    background: white;
    padding-top: 20px;
}

.top_name span {
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: #010000;
}

.chat_icon_block {
    margin-top: 4px;
    padding-left: 0;
}

.notification {
    top: -6px;
    right: 6px;
    padding: 2px;
    padding-top: 1px;
    padding-left: 1px;
    border-radius: 100%;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #8caaf3;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}

.top_avatar img {
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

.margin-left {
    margin-left: 581px;
}

.top_menu_label {
    min-width: 35%;
    margin-right: 55%;
}

.top_menu_label label {
    margin-top: 6px;
}

.nav_logo a {
    text-decoration: none;
    text-align: center;
    font-family: Linotte;
    font-size: 36px;
    font-weight: bold;
    line-height: 0.67;
    letter-spacing: 0.2px;
    color: #6f859b;
}

.main_header {
    width: 100%;
}

.centered_text_table {
    text-align: center;
    border: 1px solid #e9ecef;
    font-size: 15px;
}

.centered_text_table tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #e9ecef;
}

.nav_logo_span {
    width: 128px;
    height: 9px;
    font-family: Circe;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #777776;
}

.wrapper {
    padding: 0;
    margin-top: 26px;
}

.main-wrapper {
    padding: 30px;
    border-radius: 10px;
    background: white;
    box-shadow: 2.1px 2.1px 6px 0 rgba(56, 56, 56, 0.15);
    margin-bottom: 35px;
}
.main-inner-wrapper{
    padding: 25px;
    padding-bottom: 0;
    margin-bottom: 10px !important;
}
#active_sub_menu:after{
    content: close-quote;
    position: absolute;
    top: 7px;
    height: 80%;
    width: 3px;
    background: #8caaf3;
    right: -3px;
;
}
.btn-outline-secondary {
    border: 0;
    padding: 4px;
    padding-bottom: 0;
    margin-top: -5px;
}

.btn-outline-secondary:hover {
    background: #f1f2f3;
    color: #868e96;
}

.btn-outline-secondary:active {
    background: #f1f2f3;
    color: #868e96;
}

.progress_list {
    width: 126px;
    margin-left: -40px;
    padding: 1px;
}

.progress_list li {
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;
    color: gray;
    border: 0;
    text-align: right;
}

.list-group-item {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.list-group-item.active {
    background: #8caaf3 !important;
}

.header_text {
    font-family: Circe;
    font-size: 30px;
    font-weight: bold;
    line-height: 0.6;
    color: #4a4a4a;
}

.top_breadcumps {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.71;
    text-align: left;
    color: #dddddd;
    padding-left: 5px;
    display: inline-flex;
    width: 100%;
}
.top_breadcumps:after{
    content: close-quote;
    position: absolute;
    width: 95%;
    height: 2px;
    background:#dddddd;
    left: 3.6%;
    bottom: 16.4px;
    z-index: 2;
}

.top_breadcumps li {
    display: flex;
    flex: 33% 0 0;
    font-weight: bold;
    margin-right: 10px;
}

.top_breadcumps li#active span{
    color: #8caaf3;
}
 li#active span:before {
    content: close-quote;
    background: #8caaf3;
    width: 29.5%;
    z-index: 3;
    height: 3px;
    position: absolute;
    bottom: 16.4px;
}
.wrapper_header {
    font-family: Circe;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #000000;
}

.ancets_inputs {
    padding: 0;
}
.ancets_inputs div.row {
    margin:0;
}

.ancets_inputs div {
    margin-bottom: 21px;
}

.ancets_inputs input {
    padding-left: 16px;
    font-size: 14px;
    height: 36px;
    text-align: left;
    color: #4a4a4a;
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    width: 90%;
}

.full-width-input input {
    width: 91%;
}
.reset-input input{
    width:auto;
}
.secondary_input input{
    vertical-align: middle;
}

.secondary_input label{
    padding-top: 3px;
}
.secondary_input span{
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.14;
    text-align: left;
    color: #777777;
    width: 1000%;
    top: 18px;
    left: 20px;
}
.radio-inputs div {
    vertical-align: middle;
}
.ancet_select select{
    width: 100%;
    height: 36px;
}
/*input[type="checkbox"] + span, input[type="radio"] + span {*/
    /*-webkit-appearance: none;*/
    /*width: 14px;*/
    /*height: 14px;*/
    /*border: 1px solid rgba(0, 0, 0, .3);*/
    /*outline: none;*/
    /*margin: 5px;*/
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
/*}*/

/*input[type="checkbox"]:checked + span:before {*/
    /*content: "";*/
    /*display: block;*/
    /*width: 9px;*/
    /*height: 14px;*/
    /*border: 0 solid rgb(58, 153, 45);*/
    /*border-width: 0 2px 2px 0;*/
    /*-webkit-transform: rotateZ(45deg);*/
    /*margin: -6px 3px;*/
    /*pointer-events: none;*/
/*}*/

/*input[type="radio"] + span {*/
    /*border-radius: 100%;*/
/*}*/

/*input[type="radio"]:checked + span:before {*/
    /*content: "";*/
    /*display: block;*/
    /*background: rgb(58, 153, 45);*/
    /*border-radius: 100%;*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*margin: 2px;*/
    /*pointer-events: none;*/
/*}*/

.radio-inputs input {
    vertical-align: middle;
    width: auto;
}

.my-btn {
    padding: 6px 23px;
    font-family: Circe;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    border: 0;
    border-radius: 17px;
    color: whitesmoke;
    background-color: #6f859b;
    box-shadow: 2.1px 2.1px 15px 0 #52647633;
}

.my-btn:hover,
.my-btn:active {
    background: #349875;
    outline: none;
}

.sub_menu {
    border-top: 1px solid #f1f2f3;
    text-align: center;
    min-width: 13%;
    padding-bottom: 10x;
}

.sub_menu ul li {
    border: 0;
}

.sub_menu ul li {
    border: 0;
    min-height: 80px;
}

.sub_menu ul li img {
    top: 23px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    width: 27px;
}

.sub_menu_name {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    bottom: 0;
    display: table;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
    margin: 0 auto;
}
.second_sub_menu{
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #d1d2d3;

}
.second_sub_menu li{
    min-height: 25px !important;
    vertical-align: middle;
}

.active_circle {
    top: 17px;
    z-index: 2;
    border-radius: 100%;
    position: absolute;
    left: 1%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 44px;
    height: 44px;
    background-color: #8caaf3;
}
.divider_with_border{
    margin-left: 3%;
    border-bottom: 1px solid #e8e8e8;
    width: 89.5% !important;
}
#datastart-container{
    max-width: 30%;
}
.sub_text {
    color: #979696;
    margin-top: 15px;
    line-height: 1.38;
    font-size: 12px;
}

.sub_text span {
    margin-right: 15px;
}

.sub_text span:hover {
    color: black;
}

.bold {
    font-weight: bold;
}

.mt {
    margin-top: 20px;
}

.mmt {
    margin-top: -10px;
}
.booster{
    padding:25px 21px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
    box-shadow: 2.1px 2.1px 9px 0 rgba(56, 56, 56, 0.15);
}
.booster p:nth-child(1){
    font-family: Circe;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    color: #f6f8f9;
    margin-bottom: 25px;
}
.booster p:nth-child(2){
    font-size: 60px;
    font-weight: bold;
    line-height: 0.4;
    color: #ffffff;
    margin-bottom: 20px;
}
.booster p:nth-child(3){
    font-size: 18px;
    line-height: 1.11;
    color: #565555;
    margin-bottom: 6px;
}
.booster p:nth-child(4){
    font-size: 14px;
    line-height: 1.43;
    color: #e7e5e5;
    margin-bottom: 0;
}
.opportunities_header{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: left;
    color: #4a4a4a;
}
.opportunities_text{
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #4a4a4a;
}
.price_and_order{
    text-align: right;
}
.price_and_order span:first-child{
    font-size: 16px;
    line-height: 1.5;
    color: #979696;
    margin-right: 12px;
}
.price_and_order span:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: #4a4a4a;
    margin-right: 52px;
}
.price_and_order button{
    padding:5px 15px;
    text-transform: uppercase;
    border-radius: 17px;
    background-color: #6f859b;
    border: 0;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #ffffff;
    outline:none;
}
.price_and_order button:hover, .price_and_order button:active{
    background: #349875;

}
.table_header{
    border-radius: 2px;
    background-color: #f6f8f9;
    border-top: 0;
}
.table_header tr th{
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #4a4a4a;

}
.table_row_banks td{
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
    font-weight:bold;
    text-align: center;
}
.table_row_banks button{
    padding: 0px 14px;
    border-radius: 14px;
    background-color: #ffffff;
    border: solid 1.5px #d1d1d1;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #000000;
    text-transform: uppercase;

}
.table_row_banks td.accepted{
    text-transform: uppercase;
    color: #5dbda8;
}
.table_row_banks td.rejected{
    color: #cc666d;
    text-transform: uppercase;

}
.spisok_doc{
    padding-left:30px;
    font-size: 16px;
    line-height: 1.0;
    text-align: left;
    color: #4a4a4a;
}
.download_icon{
    color: #979696;
}
.download_doc_link{
    font-size: 16px;
    line-height: 1.0;
    text-align: left;
    color: #979696;
    text-decoration: underline;
}
.download-empty-bnt{
    width: 100%;
    border-radius: 19px;
    background-color: #ffffff;
    border: solid 1.5px #d1d1d1;
    padding: 5px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-transform: uppercase;
    color: #000000;
}
.download-empty-bnt span{
    text-transform: none;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #000000;
}
.download_block{
    border-radius: 10px;
    background-color: #f1f2f3;
    border: dashed 2px #d1d2d3;
    padding:45px;
    margin-left: 15px;
    margin-right: 15px;
}
.download_block div{
    margin-bottom:0;
}
.download_block_podskazka {
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.38;
    text-align: left;
    color: #777777;
}
.download_block_podskazka p.bold{
    color: #4a4a4a;
}
.uppercased{
    text-transform: uppercase;
}
.circle{
    padding: 26px;
    width: 88px;
    text-align: center;
    color: #d1d2d3;
    background-color: #ededed;
    height: 88px;
    border-radius: 100%;
    font-size: 30px;
}
.doc_items{
    padding-left: 15px;
    display: flex;

}
.doc_item{
    min-width:18%;
    margin-right: 2%;
}
.doc_item_menu{
    position: absolute;
    width:17.2%;
    padding-top: 6px;
    padding-right: 10px;
    text-align: right;
    background: rgba(255,255,255,0.85);
    font-size: 20px;
}
.doc_item_menu p{
    text-align: right;
}
.doc_item img{
    width:100%;
    height:150px;
    background: black;
}
.doc_item p{
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #777777;
}
.doc_item select{
    width:100%;
}
.w20 {
    width: 23%;
}

.right_section h6 {
    font-size: 18px;
    font-weight: bold;
    line-height: 0.9;
    text-align: center;
    color: #4a4a4a;
}

.right_section button {
    padding-top: 9px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    height: 34px;
    border-radius: 17px;
    background-color: #ffffff;
    box-shadow: 2.1px 2.1px 6px 0 rgba(56, 56, 56, 0.15);
}

.card {
    padding-bottom: 19px;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2.1px 2.1px 6px 0 rgba(56, 56, 56, 0.15);
    margin-top: 26px;
}

.card.approved_card {
    box-shadow: 2.1px 2.1px 6px 0 rgba(31, 171, 117, 0.44);
}

.card_id {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
}

.card_status_date {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
}

.card_bank_logo {
    width: 99px;
    height: 22px;

}

.card_opis {
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #4a4a4a;
}

.card_status {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #000000;
}

.card_status.checking {
    padding-left: 0;
    text-align: right;
    color: #8caaf3;;
}

.card_status.approved_status {
    text-align: right;
    color: #5dbda8;
}

.select {
    border-radius: 16px;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 30px;
    margin-right: 15px;
}

.bank_offer {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    max-width: 96%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
}

.bank_offer_opis {
    text-align: right;
    font-size: 14px;
    line-height: 1.29;
    color: #4a4a4a;
}

.rassmotr {
    color: #a1a1a1;
}

.deny {
    color: #cc666d;
}

.approved {
    color: #5dbda8;
}

.strah_build {
    font-size: 12px;
    line-height: 1.71;
    text-align: left;
    color: #4a4a4a;
}

.first_column_table {
    width: 24%;
}

.second_column_table {
    width: 19%;
}

.third_column_table {
    width: 27%;
}

.fourth_column_table {
    padding-top: 20px !important;
    width: 14%;
}

.price {
    font-size: 16px;
}

.doc_zaemshik a {
    text-decoration: underline;
    color: #000;
}

.doc_zaemshik a:hover {
    color: #5dbda8 !important;
}

.doc_block {
    color: #000;
}

.doc_block:hover span {
    color: #5dbda8 !important;
}

.doc_name {
    font-size: 16px;
}

.doc_opis {
    color: #979696;
    font-size: 13px;
}

.btn-outline-dark {
    font-size: 11px;
    margin-right: 4px;
    font-weight: bold;
    color: #030000;
    padding: 5px;
    border-radius: 16px;
    border-color: #6f859b;
}

.doc_delete_btn_block {
    text-align: right;
}

.doc_delete_btn {
    width: 110%;
    height: 28px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 9px;
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.doc_header {
    text-transform: uppercase;
    font-size: 14px;
}

.sub_header {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
}

.chechbox {
    font-size: 12px;
    line-height: 1.71;
    text-align: left;
    color: #4a4a4a;
}

.chechbox input {
    position: absolute !important;
}

.bottom-btn {
    margin-top: -15px;
    padding-right: 30px;
}

.btn-outline-primary {
    padding-top: 9px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 17px;
    background-color: #a84a63;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
}

.btn-outline-primary:hover {
    border-radius: 17px;
    background-color: #02a87a;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
}

.upload_block button {
    border: 0;
    border-radius: 17px;
    font-size: 12px;
    background-color: #6f859b;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
    font-weight: bold;
    padding-top: 9px;
    text-transform: uppercase;
    padding-bottom: 7px;

}

.show_docs_link {
    text-decoration: none !important;
    border-bottom: 1px dashed;
    color: #6f859b;
}

.show_docs_link:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
    color: #5dbda8;
}

.chat_navigation li a {
    font-size: 16px;
    color: #000201;
}

.active_chat_nav:before {
    content: '';
    background: #a7bff7;
    position: absolute;
}

.active_chat_nav:before {
    bottom: 100px;
    left: 20px;
    right: 20px;
    height: 2px;
    background-color: #8caaf3;
}

.upload_block button:hover {
    background: #5dbda8;
}

.upload_block button:active {
    background: #5dbda8;
}

.chat_window {

    height: 380px;
    overflow-y: scroll;
}

.avatar {
    padding-top: 6px;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    color: #4a4a4a;
}

.avatar img {
    width: 60px;
    height: 60px;
    margin: auto;
}

.add_person {
    margin-left: -30px;
}

.add_person img {
    min-width: 60px;
    font-size: 49px;
    font-weight: bold;
    background: #d1d2d3;
    border: 3px dashed #838485;
    border-radius: 30px;
}

.add_person span {
    position: absolute;
    font-size: 40px;
    left: 0;
    right: 0;
    top: 14%;
}

.arrow {
    margin-top: 45px;
    color: #d1d2d3;
}

.form_block {
    max-height: 120px;
    padding-top: 24px;
    border-radius: 2px;
    background-color: #f1f2f3;
    box-shadow: 2.1px 2.1px 6px 0 rgba(136, 138, 137, 0.44);
}

.form_block input {
    font-size: 14px;
    margin-bottom: 9px;
}

.chat_name {
    font-size: 15px;
    line-height: 1.33;
    text-align: left;
    color: #7690cc;

}

.chat_date {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: #707070;

}

.chat_text_block {;
    padding-right: 20px;
}

.chat_text {
    padding-right: 50px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: #707070;

}

/*переключение чата меню*/
#menu {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
    height: 40px;
    width: 100%;
}

#menu li {
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
    height: 14px;
    padding: 12px 15px 14px;
}

#menu li button {
    padding: 0;
    border: 0;
    background: none;
    font-size: 14px;
    color: #000201;
    text-decoration: none;
    margin: 0;
}

#menu li#line {
    display: block;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    text-indent: -10000px;
    /* Шизофрения :) */
    height: 3px;
    width: 0;
    padding: 0;
    background: #8caaf3;
}

/**/
@font-face {
    font-family: "Circe";
    src: url('../fonts/circe-regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Linotte";
    src: url('../fonts/Linotte/Linotte Regular.otf');
    font-style: normal;
    font-weight: normal;
}