body {
    font-family: Circe;
    background: #f1f2f3;
    overflow-x: hidden;
}

* {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    outline: none !important;

}

.button {
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 17px;
    background-color: #6f859b;
    border: 0;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #ffffff;
    outline: none;
}

.w60 {
    width: 60% !important;
}

.t-gray {
    color: #4a4a4a !important;
}

.t-blue {
    color: #8caaf3 !important;
}

.inner-row {
    margin-left: 15px;
}

.after_label {
    color: #979696;
    font-size: 0.8vw;
    margin-left: 10px;
}

.object_description__header {
    font-family: Circe;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: #000000;
}

.object_properties__list {
    font-family: Circe;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    color: #707070;
    white-space: nowrap;

}

.object_properties__values {
    white-space: nowrap;
    font-family: Circe;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    color: #000000;
}

.object_description__text {
    font-family: Circe;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    color: #4a4a4a;
}

.offer__percentage {
    text-align: center;
}

.offer__percentage_status {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.07;
    color: #979696;
}

.button:hover, .button:active {
    background-color: #02a87a;
}

.header-with-date * {
    margin-right: 20px;
}

.header-with-date__input {
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    width: 80px;
}

.pagination_block {
    display: flex;
    list-style: none;
    border-radius: .25rem;
}

.pagination__link {
    margin-top: 4px;
    margin-right: 6px;
    font-size: 18px;
    color: #777777;
    padding: 6px;
    width: 36px;
    height: 36px;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
}

.pagination__link:hover, .pagination__link:active {
    color: #777;
    text-decoration: none;
}

.pagination__link.active {
    background-color: #8caaf3;
    color: white;
    border: 0;

}

.pagination__dots {
    color: #777777;
    font-size: 20px;
    margin-top: 12px;
    margin-right: 7px;
}

.pagination a:hover {
    color: #8a8a8a;
}

.pagination span {
    vertical-align: bottom;
}

.pagination__arrow {
    margin-right: 15px;
    color: #777777;
    font-size: 30px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.nav_logo {
    text-align: center;
    margin-top: 11px;
}

.navbar {
    background: white;
}

.nav-item {
    padding-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.nav-item img {
    margin-right: 17px;
}

.navigation_burger_button {
    border: 0;
    padding: 4px;
    border-radius: 5px;
    padding-top: 1px;
    background: none;
    margin-top: 5px !important;
    color: #616161;
    outline: none;
    margin-left: 10px;
}

.navigation_burger_button:hover, .navigation_burger_button:active {
    background: #f9f9f9;
}

.navigation_burger_button i {
    vertical-align: middle;
}

.self_data_block {
    margin-left: -15px;
    background: white;
    padding-top: 20px;
}

.top_name {
    text-align: left;
}

.top_name span {
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: #010000;
}

.text-green {
    font-size: 15px;
    font-family: Circe;
    color: rgb(93, 189, 168);
    line-height: 1.6;
}

.period_of_application {
    text-align: right;
    margin-right: 30px;
}

.period_of_application span {

    font-size: 16px;
    line-height: 1.0;
    text-align: left;
    color: #4a4a4a;
}

.period_of_application input {
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    width: 15%;
    margin-left: 10px;
}

.chat_icon_block {
    margin-top: 4px;
    padding-left: 0;
}

.notification {
    top: -6px;
    right: 10px;
    padding-top: 1px;
    padding-left: 1px;
    border-radius: 100%;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #8caaf3;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}

.top_avatar img {
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

.margin-left {
    margin-left: 581px;
}

.top_menu_label {
    min-width: 35%;
    margin-right: 55%;
}

.top_menu_label label {
    margin-top: 6px;
}

.nav_logo a {
    text-decoration: none;
    text-align: center;
    font-family: Linotte;
    font-size: 36px;
    font-weight: bold;
    line-height: 0.67;
    letter-spacing: 0.2px;
    color: #6f859b;
}

.main_header {
    width: 100%;
}

.centered_text_table {
    text-align: center;
    border: 1px solid #e9ecef;
    font-size: 15px;
}

.centered_text_table tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #e9ecef;
}

.nav_logo_span {
    width: 128px;
    height: 9px;
    font-family: Circe;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #777776;
}

.wrapper {
    padding: 40px;
}
.flexible-row{
    flex: 1 1 89%;
}
.main-wrapper {
    padding: 30px;
    padding-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    width: 98%;
    background: white;
    box-shadow: 2.1px 2.1px 6px 0 rgba(56, 56, 56, 0.15);
    margin-bottom: 35px;
}

.main-inner-wrapper {
    padding: 25px;
    padding-bottom: 0;
    margin-bottom: 10px !important;
}

#active_sub_menu:after {
    content: close-quote;
    position: absolute;
    top: 7px;
    height: 80%;
    width: 3px;
    background: #8caaf3;
    right: -3px;;
}

.btn-outline-secondary {
    border: 0;
    padding: 4px;
    padding-bottom: 0;
    margin-top: -5px;
}

.btn-outline-secondary:hover {
    background: #f1f2f3;
    color: #868e96;
}

.btn-outline-secondary:active {
    background: #f1f2f3;
    color: #868e96;
}

.progress_list {
    margin-top: 10px;
    width: 126px;
    margin-left: -40px;
    padding: 1px;
}

.progress_list li {
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;
    color: gray;
    border: 0;
    text-align: right;
}

.list-group-item {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.list-group-item.active {
    background: #8caaf3 !important;
}

.header_text {
    font-family: Circe;
    font-size: 29px;
    font-weight: bold;
    line-height: 1.1;
    color: #4a4a4a;
}

.upload_photo_block {
    text-align: center;
}

.upload_photo_block label {

}

.upload_photo_block label img {
    padding-top: 27px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #f1f2f3;
    border: dashed 2px #d1d2d3;
}

.upload_photo_block label button {
    line-height: 2.0;
    width: 100%;
    font-size: 16px;
}

.top_breadcumps_lc {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.71;
    text-align: center;
    color: #dddddd;
    padding-left: 5px;
    display: inline-flex;
    width: 100%;
    float: right;
}

.top_breadcumps_lc:after {
    content: close-quote;
    position: absolute;
    width: 89%;
    height: 2px;
    background: #dddddd;
    left: 9.6%;
    bottom: 16.4px;
    top: 41px;
    z-index: 2;
}

.top_breadcumps_lc li {
    display: flex;
    flex: 24% 0 0;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    position: relative;
    top: 20px;
}

.top_breadcumps_lc li span {
    width: 100%;
    white-space: nowrap;
}

.top_breadcumps_lc li#active span {
    color: #8caaf3;
}

.top_breadcumps_lc li:nth-child(1)#active span:before {
    content: close-quote;
    background: #8caaf3;
    width: 44%;
    z-index: 3;
    height: 3px;
    position: absolute;
    bottom: 16.4px;
    top: 20px;
}

.top_breadcumps_lc li:nth-child(2)#active span:before {
    content: close-quote;
    background: #8caaf3;
    width: 80%;
    z-index: 3;
    height: 3px;
    top: 20px;
    position: absolute;
    bottom: 16.4px;
    left: 9%;
}

.top_breadcumps_lc li:nth-child(3)#active span:before {
    content: close-quote;
    background: #8caaf3;
    width: 80%;
    z-index: 3;
    height: 3px;
    position: absolute;
    bottom: 16.4px;
    top: 20px;
}

.top_breadcumps_lc li:nth-child(4)#active span:before {
    content: close-quote;
    background: #8caaf3;
    width: 100%;
    z-index: 3;
    height: 3px;
    position: absolute;
    bottom: 16.4px;
    top: 20px;
}

.top_breadcumps {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.71;
    text-align: left;
    color: #dddddd;
    padding-left: 5px;
    display: inline-flex;
    width: 100%;
}

.top_breadcumps:after {
    content: close-quote;
    position: absolute;
    width: 95%;
    height: 2px;
    background: #dddddd;
    left: 3.6%;
    bottom: 16.4px;
    z-index: 2;
}

.top_breadcumps li {
    display: flex;
    flex: 33% 0 0;
    font-weight: bold;
    margin-right: 10px;
}

.top_breadcumps li#active span {
    color: #8caaf3;
}

.top_breadcumps li#active span:before {
    content: close-quote;
    background: #8caaf3;
    width: 29.5%;
    z-index: 3;
    height: 3px;
    position: absolute;
    bottom: 16.4px;
}

.wrapper_header {
    font-family: Circe;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #000000;
}

.second_header {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.0;
    text-align: left;
    color: #4a4a4a;
}

.secondary_text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: #979696;
}

.sub_header_opis {
    margin-top: -25px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: #979696;
}

.ml-minus-btn {
    text-align: left !important;
    margin-left: -30px;
}

.send_print_i {
    font-size: 30px;
    margin-top: 28px;
    color: #979696;
    margin-right: 15px;
}

.send_print_i-cs {
    font-size: 30px;
    color: #979696;
    margin-right: 15px;
    text-align: right;
}

.text_upper {
    text-transform: uppercase;
}

.ancets_inputs {
    padding: 0;
}

.ancets_inputs div.row {
    margin: 0;
}

.ancets_inputs div {
    margin-bottom: 21px;
}

.ancets_inputs input {
    padding-left: 16px;
    font-size: 14px;
    height: 36px;
    text-align: left;
    color: #4a4a4a;
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    width: 90%;
}

.full-width-input input {
    width: 91%;
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    height: 36px;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #4a4a4a;
    padding-left: 17px;
}

.full-width-input2 input {
    width: 100%;
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    height: 36px;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #4a4a4a;
    padding-left: 17px;
    margin-bottom: 21px;
}

.select_period label {
    width: 40%;
    height: 36px;
    border-radius: 18px !important;
    border: solid 1px #c6c6c6;
    background: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    margin-right: 3px;

}

.select_period label.active {
    background-color: #8caaf3;
    color: white;
}

.ancet_checkbox label {
    margin-right: 5px;
    width: 40%;
    height: 36px;
    border-radius: 18px !important;
    border: solid 1px #c6c6c6;
    background: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;

}

.ancet_checkbox label.active {
    background-color: #8caaf3;
    color: white;
}

.select_period label:nth-child(1) {
    border-radius: 18px !important;
}

.br-widget a:after {
    font-size: 16px;
}

.documents_upload div p {
    font-size: 16px;
    line-height: 1.0;
    color: #4a4a4a;

}

.text-centered {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.button-white {
    outline: none;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    color: #000000;
    border-radius: 14px;
    background-color: #ffffff;
    border: solid 1.5px #d1d1d1;
}

.only-text-btn {
    border: 0;
    background: white;
    font-family: Circe;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    padding: 5px;
    padding-top: 5px;
}

.only-text-btn:hover, .only-text-btn:active {
    color: #02a87a;
}

.button-white:hover, .button-white:active {
    border-color: #02d399;
    background: #02a87a;
    color: white;
}

.label_from_to {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.143;
    text-align: left;
    position: absolute;
    top: 8px;
    left: 18px;
}

.input_from_to {
    padding-left: 30px !important;
}

.table_ancet_bank {
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}

.table_ancet_bank td {
    border-top-color: white;
    vertical-align: middle;
}

.table_ancet_bank th {
    font-size: 15px;
    text-align: center;
    color: rgb(74, 74, 74);
    border-top-color: white;
    border-bottom-color: white;
}
.table_ancet_bank tr input[type=text]{
    width:40%;
    text-align: center;
}
.price_input{
    width:90% !important;
}
.table_ancet_bank td:first-child {
    width: 18%;
}

.basic_input {
    font-size: 14px;
    padding: 5px;
    padding-left: 4px;
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    width: 100% !important;
}

.map_frame {
    max-width: 97%;
    height: 240px;
    background: linear-gradient(45deg, red, blue);
    margin-left: 15px;

}

.basic_select {
    width: 100%;
    height: 32px;
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    font-family: Circe;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #000000;
    padding-top: 9px;
    padding-bottom: 5px;
    background: white;
    padding-left: 4px;
}

.city_link {
    font-size: 16px;
    font-family: "Circe";
    color: rgb(140, 170, 243);
    line-height: 1;

}

.city_link:active, .city_link:hover {
    text-decoration: none;
    color: #02a87a;
}

.boxed_select {
    border: 1px solid rgb(198, 198, 198);
    border-radius: 2px;
    height: 34px;
    width: 100%;
    background: white;
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.143;
    text-align: left;
    vertical-align: top;

}

.money_block {
    background-color: #f6f8f9;
    padding: 30px;
    font-family: Circe;
}

.wallet_radio + label {
    padding: 10px;
    margin-right: 20px;
}

.wallet_radio[type=radio]:checked + label {
    background: white;
    -webkit-box-shadow: 0px 0px 21px 1px rgba(59, 255, 121, 1);
    -moz-box-shadow: 0px 0px 21px 1px rgba(59, 255, 121, 1);
    box-shadow: 0px 0px 21px 1px rgba(59, 255, 121, 1);
    border-radius: 6%;
}

.request_report_result {
    text-align: right;
}

.request_report_result span {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.0;
    text-align: left;
    color: #000000;
    margin-right: 23px;

}

.request_report_result button {
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 17px;
    background-color: #6f859b;
    border: 0;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #ffffff;
    outline: none;
}

.request_report_result button:hover, .request_report_result button:active {
    background: #02a87a;
    color: #fff;
}

.fwinput input {
    width: 100%;
    border-radius: 2px;
    border: solid 1px #c6c6c6;
    height: 36px;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #4a4a4a;
    padding-left: 17px;

}

.secondary_opis {
    margin-top: 30px;
}

.secondary_opis span {
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #979696;
}

.sub_information {
    text-align: right;
}

.sub_information span {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.23;
    text-align: right;
    color: #4a4a4a;

}

.downloaded {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    color: #4a4a4a;
}

.name_of_doc {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.85;
    color: #979696;
}

.reset-input input {
    width: auto;
}

.secondary_input input {
    vertical-align: middle;
}

.secondary_input label {
    padding-top: 3px;
}

.secondary_input span {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.14;
    text-align: left;
    color: #777777;
    width: 1000%;
    top: 18px;
    left: 20px;
}

.radio-inputs div {
    vertical-align: middle;
}

.radio-row {
    max-height: 150px;
    min-height: 150px;
}

.radio-row div {
    margin-bottom: 0;
}

.ancet_select select {
    width: 100%;
    height: 36px;
}

/*input[type="checkbox"] + span, input[type="radio"] + span {*/
/*-webkit-appearance: none;*/
/*width: 14px;*/
/*height: 14px;*/
/*border: 1px solid rgba(0, 0, 0, .3);*/
/*outline: none;*/
/*margin: 5px;*/
/*box-sizing: border-box;*/
/*display: inline-block;*/
/*}*/

/*input[type="checkbox"]:checked + span:before {*/
/*content: "";*/
/*display: block;*/
/*width: 9px;*/
/*height: 14px;*/
/*border: 0 solid rgb(58, 153, 45);*/
/*border-width: 0 2px 2px 0;*/
/*-webkit-transform: rotateZ(45deg);*/
/*margin: -6px 3px;*/
/*pointer-events: none;*/
/*}*/

/*input[type="radio"] + span {*/
/*border-radius: 100%;*/
/*}*/

/*input[type="radio"]:checked + span:before {*/
/*content: "";*/
/*display: block;*/
/*background: rgb(58, 153, 45);*/
/*border-radius: 100%;*/
/*width: 8px;*/
/*height: 8px;*/
/*margin: 2px;*/
/*pointer-events: none;*/
/*}*/

.radio-inputs input {
    vertical-align: middle;
    width: auto;
}

.my-btn {
    padding: 6px 23px;
    font-family: Circe;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    border: 0;
    border-radius: 17px;
    color: whitesmoke;
    background-color: #6f859b;
    box-shadow: 2.1px 2.1px 15px 0 #52647633;
}

.my-btn:hover,
.my-btn:active {
    background: #349875;
    outline: none;
}

.sub_menu {
    border-top: 1px solid #f1f2f3;
    text-align: center;
    max-width: 140px;
    padding-bottom: 10px;
    flex:0 1 auto;
}

.sub_menu *:hover, *:focus {
    text-decoration: none;
}

.sub_menu ul li {
    border: 0;
}

.sub_menu ul li {
    border: 0;
    min-height: 80px;
}

.sub_menu ul li img {
    top: 23px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    width: 27px;
}

.sub_menu_name {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    bottom: 0;
    display: table;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
    margin: 0 auto;
}

.second_sub_menu {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #d1d2d3;

}

.second_sub_menu li {
    min-height: 25px !important;
    vertical-align: middle;
}

.active_circle {
    top: 17px;
    z-index: 2;
    border-radius: 100%;
    position: absolute;
    left: 1%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 44px;
    height: 44px;
    background-color: #8caaf3;
}

.divider_with_border {
    margin-left: 3%;
    border-bottom: 1px solid #e8e8e8;
    width: 89.5% !important;
}

#datastart-container {
    max-width: 30%;
}

.sub_text {
    color: #979696;
    margin-top: 15px;
    line-height: 1.38;
    font-size: 12px;
}

.sub_text span {
    margin-right: 15px;
}

.sub_text span:hover {
    color: black;
}

.bold {
    font-weight: bold;
}

.mt {
    margin-top: 20px !important;
}

.ml-m {
    margin-left: -15px !important;
}

.mmt {
    margin-top: -10px;
}

.booster {
    padding: 25px 21px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
    box-shadow: 2.1px 2.1px 9px 0 rgba(56, 56, 56, 0.15);
}

.booster p:nth-child(1) {
    font-family: Circe;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    color: #f6f8f9;
    margin-bottom: 25px;
}

.booster p:nth-child(2) {
    font-size: 60px;
    font-weight: bold;
    line-height: 0.4;
    color: #ffffff;
    margin-bottom: 20px;
}

.booster p:nth-child(3) {
    font-size: 18px;
    line-height: 1.11;
    color: #565555;
    margin-bottom: 6px;
}

.booster p:nth-child(4) {
    font-size: 14px;
    line-height: 1.43;
    color: #e7e5e5;
    margin-bottom: 0;
}

.statistic_boosters div {
    /*padding:0;/*/
}

.booster-cs_block {
    padding-left: 15px;
    width: 100%;
    padding-top: 20px;
}

.statistic_booster-cs {
    padding: 25px 21px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
    box-shadow: 2.1px 2.1px 9px 0 rgba(56, 56, 56, 0.15);
}

.statistic_booster-cs:nth-of-type(1) {
    margin-right: 1.16%;
    width: 13.72%;
    padding: 25px 21px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
}

.statistic_booster-cs:nth-of-type(2) {
    margin-right: 1.16%;

    width: 20.1%;
    padding: 25px 21px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
}

.statistic_booster-cs:nth-of-type(3) {
    margin-right: 1.16%;

    width: 16.52%;
    padding: 25px 21px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
}

.statistic_booster-cs:nth-of-type(4) {
    margin-right: 0.77%;

    width: 26.28%;
    padding: 25px 21px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
}

.statistic_booster-cs:nth-of-type(5) {
    width: 19.13%;
    padding: 25px 21px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
}

.statistic_booster-cs p:nth-child(1) {
    font-family: Circe;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    color: #4a4a4a;
    margin-bottom: 35px;
    white-space: nowrap;
}

.statistic_booster-cs p:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.4;
    color: #ffffff;
    margin-bottom: 30px;
    white-space: nowrap;
}

.statistic_booster-cs p:nth-child(3) {
    font-size: 15px;
    line-height: 1.11;
    color: #565555;
    margin-bottom: 6px;
    white-space: nowrap;
}

.statistic_booster {
    padding: 25px 15px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #8caaf3;
    box-shadow: 2.1px 2.1px 9px 0 rgba(56, 56, 56, 0.15);
}

.statistic_booster p:nth-child(1) {
    font-family: Circe;
    font-size: 1vw;
    font-weight: bold;
    line-height: 1.11;
    color: #4a4a4a;
    margin-bottom: 35px;
    white-space: nowrap;
}

.statistic_booster p:nth-child(2) {
    font-size: 3vw;
    font-weight: bold;
    line-height: 0.4;
    color: #ffffff;
    margin-bottom: 30px;
    white-space: nowrap;
}

.statistic_booster p:nth-child(3) {
    font-size: 1.5vw;
    line-height: 1.11;
    color: #565555;
    margin-bottom: 6px;
    white-space: nowrap;
}

.search-input {
    margin-left: 15px;
    border-radius: 2px;
    border: solid 1px #c6c6c6;

}

.search-input i {
    position: relative;
    color: #c6c6c6;
}

.search-input input {
    border: 0;
    width: 80%;
}

.applications_select span {
    margin-right: 15px;
    font-size: 16px;
    line-height: 1.12;
    text-align: center;
    color: #979696;
}

.applications_select select {
    height: 26px;
    padding: 2px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 2.1px 2.1px 6px 0 rgba(56, 56, 56, 0.15);
    border: solid 1px #e8e8e8;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #979696;
    padding-left: 9px;
}

.opportunities_header {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: left;
    color: #4a4a4a;
}

.opportunities_text {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #4a4a4a;
}

.opportunities_company {
    /*margin-top: 40px;*/
}

.progress-bar {
    background: #8caaf3;
}

.object_media_block div {
    margin-bottom: 25px;
}

.price_and_order {
    text-align: right;
}

.price_and_order span:first-child {
    font-size: 16px;
    line-height: 1.5;
    color: #979696;
    margin-right: 12px;
}

.price_and_order span:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: #4a4a4a;
    margin-right: 52px;
}

.price_and_order button {
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 17px;
    background-color: #6f859b;
    border: 0;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #ffffff;
    outline: none;
}

.price_and_order button:hover, .price_and_order button:active {
    background: #349875;

}

.table_header {
    border-radius: 2px;
    background-color: #f6f8f9;
    border-top: 0;
}

.table_header tr th {
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #4a4a4a;
    vertical-align: middle;

}

.table_row_banks td {
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.table_row_banks td span {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.85;
    text-align: center;
    color: #979696;

}

.table_row_banks.approved {
    background-color: #e9fee7;
}

.table_row_banks.denied {
    background-color: #ffeeee;
}

.table_row_banks button {
    padding: 0px 14px;
    border-radius: 14px;
    background-color: #ffffff;
    border: solid 1.5px #d1d1d1;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
    color: #000000;
    text-transform: uppercase;

}

.table_row_banks td.accepted {
    text-transform: uppercase;
    color: #5dbda8;
}

.table_row_banks td.rejected {
    color: #cc666d;
    text-transform: uppercase;

}

.spisok_doc {
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.0;
    text-align: left;
    color: #4a4a4a;
}

.download_icon {
    color: #979696;
}

.download_doc_link {
    font-size: 16px;
    line-height: 1.0;
    text-align: left;
    color: #979696;
    text-decoration: underline;
}

.download-empty-bnt {
    width: 100%;
    border-radius: 19px;
    background-color: #ffffff;
    border: solid 1.5px #d1d1d1;
    padding: 5px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.0;
    text-transform: uppercase;
    color: #000000;
}

.download-empty-bnt span {
    text-transform: none;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #000000;
}

.download_block {
    border-radius: 10px;
    background-color: #f1f2f3;
    border: dashed 2px #d1d2d3;
    padding: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

.download_block div {
    margin-bottom: 0;
}

.download_block_podskazka {
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.38;
    text-align: left;
    color: #777777;
}

.download_block_podskazka p.bold {
    color: #4a4a4a;
}

.uppercased {
    text-transform: uppercase;
}

.circle {
    padding: 26px;
    width: 88px;
    text-align: center;
    color: #d1d2d3;
    background-color: #ededed;
    height: 88px;
    border-radius: 100%;
    font-size: 30px;
}

.doc_items {
    padding-left: 15px;
    display: flex;

}

.doc_item {
    min-width: 18%;
    margin-right: 2%;
}

.doc_item_menu {
    position: absolute;
    width: 17.2%;
    padding-top: 6px;
    padding-right: 10px;
    text-align: right;
    background: rgba(255, 255, 255, 0.85);
    font-size: 20px;
}

.object_price {
    font-size: 20px;
    font-family: Circe;
    line-height: 1.2;
}

.object_header__link {
    text-decoration: none;
    font-family: Circe;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #8caaf3;
}

.show_number_btn {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    border: 0;
    background-color: rgb(140, 170, 243);
    font-size: 18px;
    font-family: "Circe";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.333;
}
.show_number_btn span{
    margin-top: 10px;
    font-size: 16px;
    font-family: "Circe";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.5;
}



.object-btn-block {
    margin-top: 40px;
    /*margin-right: 3px;*/
}

.object-blue-btn {
    font-size: 0.8vw;
    font-family: Circe;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.182;
    border: 0;
    width: 129%;
    border-radius: 25px;
    background-color: rgb(140, 170, 243);
    padding-bottom: 3px;
    padding-top: 2px;

}

.object-blue-btn:hover {
    background: rgb(68, 85, 122);
}

.object-blue-btn:active {
    background: rgb(151, 181, 255);
}

.object-white-btn {
    padding-bottom: 1px;
    padding-top: 0;
    font-size: 0.8vw;
    font-family: "Circe";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.182;
    border: 2px solid;
    width: 125%;
    border-radius: 25px;
    background: white;
    border-color: rgb(169, 169, 169);

}

.object-white-btn:hover {
    border-color: rgb(2, 116, 82);
    background-color: rgb(2, 116, 82);
    color: #fff;
}

.object-white-btn:active {
    border-color: #02a87a;
    color: #fff;
    background-color: #02a87a;
}

.object_header__link:active, .object_header__link:hover {
    color: #5dbda8;
}

.doc_item_menu p {
    text-align: right;
}

.doc_item img {
    width: 100%;
    height: 150px;
    background: black;
}

.doc_item p {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #777777;
}

.doc_item select {
    width: 100%;
}

.w20 {
    width: 23%;
}

.right_section {
    text-align: center;
}

.right_section h6 {
    font-size: 18px;
    font-weight: bold;
    line-height: 0.9;
    text-align: center;
    color: #4a4a4a;
}

.right_section button {
    padding-top: 9px;
    font-size: 10.5px;
    text-transform: uppercase;
    font-weight: bold;
    height: 34px;
    border-radius: 17px;
    background-color: #ffffff;
    box-shadow: 2.1px 2.1px 6px 0 rgba(56, 56, 56, 0.15);
}

.card {
    padding-bottom: 19px;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2.1px 2.1px 6px 0 rgba(56, 56, 56, 0.15);
    margin-top: 26px;
}

.card.approved_card {
    box-shadow: 2.1px 2.1px 6px 0 rgba(31, 171, 117, 0.44);
}

.card_id {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
}

.card_status_date {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
}

.card_bank_logo {
    width: 99px;
    height: 22px;
    text-align: left;

}

.card_opis {
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #4a4a4a;
}

.card_status {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}

.card_status.checking {
    padding-left: 0;
    text-align: right;
    color: #8caaf3;;
}

.processing {
    margin-top: 22px;
    font-size: 12px;
    color: #979696;

}

.card_status.approved_status {
    text-align: right;
    color: #5dbda8;
}

.select {
    border-radius: 16px;
    font-size: 12.5px;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 30px;
    margin-right: 15px;
}

.bank_offer {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    max-width: 96%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
}

.bank_offer_opis {
    text-align: right;
    font-size: 14px;
    line-height: 1.29;
    color: #4a4a4a;
}

.rassmotr {
    color: #a1a1a1;
}

.deny {
    color: #cc666d;
}

.approved {
    color: #5dbda8;
}

.strah_build {
    font-size: 12px;
    line-height: 1.71;
    text-align: left;
    color: #4a4a4a;
}

.first_column_table {
    width: 24%;
}

.second_column_table {
    width: 19%;
}

.third_column_table {
    width: 27%;
}

.fourth_column_table {
    padding-top: 20px !important;
    width: 14%;
}

.price {
    font-size: 16px;
}

.doc_zaemshik a {
    text-decoration: underline;
    color: #000;
}

.doc_zaemshik a:hover {
    color: #5dbda8 !important;
}

.doc_block {
    color: #000;
}

.doc_block:hover span {
    color: #5dbda8 !important;
}

.doc_name {
    font-size: 16px;
}

.doc_opis {
    color: #979696;
    font-size: 13px;
}

.btn-outline-dark {
    font-size: 11px;
    margin-right: 4px;
    font-weight: bold;
    color: #030000;
    padding: 5px;
    border-radius: 16px;
    border-color: #6f859b;
}

.doc_delete_btn_block {
    text-align: right;
}

.doc_delete_btn {
    width: 110%;
    height: 28px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 9px;
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.doc_header {
    text-transform: uppercase;
    font-size: 14px;
}

.btn-dark {
    margin-left: -20px;
}

.sub_header {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
    vertical-align: middle;
}

.description_object {
    margin-left: -25px;
}

.description_object_photo__span {
    font-size: 13px;
    line-height: 1.12;
    text-align: left;
    color: #4a4a4a;
}

.description_object__main {
    text-align: center;
}

.description_object__main_text {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-family: Circe;
    font-size: 1.2vw;
    font-weight: bold;
    line-height: 1.33;
    color: #000000;
}

.description_object__second_text {
    font-family: Circe;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.14;
    color: #979696;
    white-space: nowrap;
}

.chechbox {
    font-size: 12px;
    line-height: 1.71;
    text-align: left;
    color: #4a4a4a;
}

.chechbox input {
    position: absolute !important;
}

.bottom-btn {
    margin-top: -15px;
    padding-right: 30px;
}

.btn-outline-primary {
    padding-top: 9px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 17px;
    background-color: #a84a63;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
}

.btn-outline-primary:hover {
    border-radius: 17px;
    background-color: #02a87a;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
}

.upload_block button {
    border: 0;
    border-radius: 17px;
    font-size: 12px;
    background-color: #6f859b;
    box-shadow: 2.1px 2.1px 15px 0 rgba(82, 100, 118, 0.2);
    font-weight: bold;
    padding-top: 9px;
    text-transform: uppercase;
    padding-bottom: 7px;

}

.show_docs_link {
    text-decoration: none !important;
    border-bottom: 1px dashed;
    color: #6f859b;
}

.show_docs_link:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
    color: #5dbda8;
}

.chat_navigation li a {
    font-size: 16px;
    color: #000201;
}

.active_chat_nav:before {
    content: '';
    background: #a7bff7;
    position: absolute;
}

.active_chat_nav:before {
    bottom: 100px;
    left: 20px;
    right: 20px;
    height: 2px;
    background-color: #8caaf3;
}

.upload_block button:hover {
    background: #5dbda8;
}

.upload_block button:active {
    background: #5dbda8;
}

.chat_window {

    height: 380px;
    overflow-y: scroll;
}

.avatar {
    padding-top: 6px;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    color: #4a4a4a;
}

.avatar img {
    width: 60px;
    height: 60px;
    margin: auto;
}

.add_person {
    margin-left: -30px;
}

.add_person img {
    min-width: 60px;
    font-size: 49px;
    font-weight: bold;
    background: #d1d2d3;
    border: 3px dashed #838485;
    border-radius: 30px;
}

.add_person span {
    position: absolute;
    font-size: 40px;
    left: 0;
    right: 0;
    top: 14%;
}

.arrow {
    margin-top: 45px;
    color: #d1d2d3;
}

.form_block {
    max-height: 120px;
    padding-top: 24px;
    border-radius: 2px;
    background-color: #f1f2f3;
    box-shadow: 2.1px 2.1px 6px 0 rgba(136, 138, 137, 0.44);
}

.form_block input {
    font-size: 14px;
    margin-bottom: 9px;
}

.chat_name {
    font-size: 15px;
    line-height: 1.33;
    text-align: left;
    color: #7690cc;

}

.chat_date {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: #707070;

}

.chat_text_block {;
    padding-right: 20px;
}

.chat_text {
    padding-right: 50px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: #707070;

}

/*переключение чата меню*/
#menu {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
    height: 40px;
    width: 120%;
    margin-left: -40px;
}

#menu li {
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
    height: 14px;
    padding: 12px 15px 14px;
}

#menu li button {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    font-size: 14px;
    color: #000201;
    text-decoration: none;
    margin: 0;
}

#menu li#line {
    display: block;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    text-indent: -10000px;
    /* Шизофрения :) */
    height: 3px;
    width: 0;
    padding: 0;
    background: #8caaf3;
}

/*side_menu*/
.closed_sub{
    flex: 0 1 3%;
}
.closed_sub ul {
    width: 90px;
}

.closed_sub .sub_menu_name {
    position: relative;
    left: 0;
    right: 0;
    bottom: -25px;
    width: auto;
    display: table;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
    margin: 0 auto;
}

.closed_sub.sub_menu ul li img {
    top: 12px !important;
    position: relative !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    width: 27px;
}

.opened_sub{
    width:140px;
    flex: 3 1 3%;
}
.opened_sub .sub_spisok {
    display: none;
}

.opened_sub .sub_spisok ul {
    background: white;
    height: 80px;
}

.opened_sub .sub_spisok ul li {
    min-height: 20px;
    font-size: 12px;
    font-family: "Circe";
    color: rgb(112, 112, 112);
    line-height: 1.5;
    text-align: center;

}

.opened_sub .sub_spisok ul li a, .opened_sub .sub_spisok ul li a:hover, .opened_sub .sub_spisok ul li a:focus {
    font-size: 12px;
    font-family: "Circe";
    color: rgb(112, 112, 112);
    text-decoration: none;
}

.opened_sub.sub_menu ul li img {
    top: 25px;
    position: absolute;
    left: 11%;
    z-index: 3;
    right: auto;
    width: 27px;
}

.opened_sub .active_circle {
    top: 17px;
    z-index: 2;
    border-radius: 100%;
    position: absolute;
    left: 0.9%;
    right: inherit !important;
    margin-left: 6px !important;
    width: 44px;
    height: 44px;
    background-color: #8caaf3;
}

.opened_sub .sub_menu_name {
    position: absolute !important;
    left: 38px;
    top: 32px;
    display: table;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #707070;
    margin: 0 auto;
}

/*!*rating*!*/
.br-theme-fontawesome-stars-o .br-widget a:after {
    color: #8caaf3;
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    color: #8caaf3;
}

.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
    color: #8caaf3;
}

/*!**!*/
@font-face {
    font-family: "Circe";
    src: url('../fonts/circe-regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Linotte";
    src: url('../fonts/Linotte/Linotte Regular.otf');
    font-style: normal;
    font-weight: normal;
}